/*
------------------------------
  1. Post Header Section
------------------------------
*/

.post-header {
  color: $bg-color-2;
  padding-bottom: 10px;

  h4, h5 {
    label {
      padding-right: 10px;
    }
  }

  h3 {
    font-size: 1.9rem;
    font-weight: 600;
    padding: 10px 0;
  }
  h4, h5, p {
    font-weight: normal;
    padding: 5px 0;
  }
  h4 {
    font-size: $h4;
    font-weight: 500;
  }
  h5 {
    color: $font-color-2;
    font-size: $h5;
  }

  p {
    border-top: 1px solid rgba($bg-color-2, 0.2);
    border-bottom: 1px solid rgba($bg-color-2, 0.2);
    text-align: right;
    font-size: $h4;

    span {
      padding: 0 5px;
    }

    svg {
      margin: 0 5px;
    }
  }
  .author {
    display: flex;
    align-items: center;
    padding: 10px 0;

    picture {
      display: inline-block;
      width: 40px;
      height: 40px;
      background: red;
      border-radius: 50%;
    }
    h4 {
      margin:0 10px;
      b {
        font-weight: 300;
        padding: 0 5px;
        color: #aaa;
      }
      i {
        font-style: normal;
        font-size: $h5; 
        color: #666;
        font-weight: 400;
      }
    }
    
  }
  .post-share {
    position: fixed;
    z-index: 2;
    background-color: #333;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    canvas {
      display: none;
    }
    img {
      width: 256px;
      box-shadow: 0 0 10px #000;
    }
  }
}

/*
------------------------------
  2. Post Content Section
------------------------------
*/
.post-content {
  padding-bottom: 50px;
  font-weight: normal !important;
  font-size: $h3 !important;
  p {
    padding: 0.2rem 0 !important;
  }
  img {
    margin: 5px 0;
  }
}

/*
------------------------------
  3. Post Comments Section
------------------------------
*/

.post-comments {
  
  /* 3.1 comments count */
  h3 {
    border-top: 1px solid rgba($bg-color-2, 0.2);
    border-bottom: 1px solid rgba($bg-color-2, 0.2);
    padding: 5px 0;
    span {padding: 0 5px;}
  }

  /* 3.2 comments reply */

  .post-reply-auth{
    display: flex;
    align-items: center;
    padding: 20px 0 10px 0;

    label {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-color: red;
      border-radius: 50%;
      margin-right: 10px;
    }
    input, .reply-input {
      position: relative;
      background: transparent;
      flex: 1;
      z-index: 1;
      border: none;
      border-bottom: 1px solid #ddd;
      outline: none;
      height: auto;
      vertical-align: middle;
      padding: 3px 5px;
      font-size: $h4;
      resize: vertical;
      word-break: normal;
      word-wrap: break-word;
      white-space: pre-wrap;
      background-color: #eee;
      // overflow: hidden;

      &.hold::before {
        content: '';
      }

      &::before {
        content: '发表回复...';
        z-index: 0;
        color: #aaa;
        overflow: hidden;
      }

      &:focus::before {
        display: none;
      }

      &:focus::after {
        position: absolute;
        z-index: 2;
        content: '';
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: #000;
        animation: wide 120ms ease-in;
      }

      &:focus {
        // &::after {
        //   color: transparent;
        // }
        border-bottom-color: transparent;
      }
    }

   

    button {
      margin-left: 10px;
      padding: 5px 15px;
      border-radius: 5px;
      font-weight: 400;
      font-size: $h5;
      border: none;
      background-color: transparent;
      color: $bg-color-2;
      &:hover {
        color: $font-color-2;
      }
      &:disabled {
        color: rgba($bg-color-2, 0.5);
      }
    }
  }

  /* 3.2 comments list */

  .post-comments-list{
    font-size: $h5;
    padding: 10px 0;
    p {
      padding: 0.2rem 0 !important;
    }
  }

  .post-comment {
    display: flex;
    flex-direction: row;
    padding: 5px 0;

    &>label {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: red;
      margin-right: 10px;
    }

    .post-comment-content {
      position: relative;
      flex: 1;
      
      h5 {
        &>span {font-size: $h5;}
        &>b {padding: 0 5px; color: #aaa}
        &>i {
          font-style: normal; 
          font-size: $h5; 
          color: #666;
          font-weight: 400;
        }
      }
      p {
        font-size: $h4;
        word-break: normal;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
      .post-comment-utils {
        display: block;
        margin: 10px 0;
        color: #666;
        svg, label {
          cursor: pointer;
          margin-right: 5px;
        }
        span {
          margin-right: 10px;
        }
      }

      .post-reply-list {
        .subreply-cover {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

@keyframes wide{
  0% {
    width: 0%;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}


@media screen and (max-width: 470px) {
  .post-header {
    h3 {font-size: 1.7rem;}
    // h4 {font-size: $h5;}
    // h5 {font-size: $h6;}
  }
  
}