input[type='number']{-moz-appearance:textfield;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0;}

input, textarea, select, button, meter, progress {
  writing-mode: horizontal-tb !important;
  border-radius: 0;
}

form, .outside-form {
  position: relative;
  margin: 0 auto;

  input {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 10px;
    font-size: $h2;
    appearance: none;
    outline: none;
    border: none;
    color: $bg-color-2;
    background-color: transparent;
  }

  button {
    position: relative;
    width: 100%;
    height: 4rem;
    border: 2px solid rgba($bg-color-2, 0.5);
    margin: 20px 0;
    border-radius: 5px;
    font-size: $h2;
    color: $bg-color-2;
    background-color: rgba($bg-color-2, 0.2);

    &:disabled {
      cursor: not-allowed;
      color: rgba($bg-color-1, 0.2);
      border-color: rgba($bg-color-1, 0.2);
      background-color: transparent;

      &:hover {
        background-color: rgba($bg-color-2, 0.2);
        color: rgba($bg-color-1, 0.2);
        box-shadow: none;
      }
    }
    &:hover {
      background-color: $bg-color-2;
      color: #fff;
      box-shadow: 0 0 5px $bg-color-2;
    }
  }

  h3 {
    font-size: $h3;
    font-weight: normal;
    color: $bg-color-1;
  }

  h5 {
    font-size: $h6;
    font-weight: normal;
    color: $font-color-1;
  }
}

.form-component {
  position: relative;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  border: 2px solid rgba($bg-color-2, 0.5);
  margin: 20px 0;
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  // overflow: hidden;

  &.focus {
    border-color: $bg-color-2;
    box-shadow: 0 0 5px $bg-color-2;
    .input-option {
      background-color: $bg-color-2;
      select {
        color: #fff;
      }
      .up, .down {
        color: $font-color-light;
      }
    }
    .input-option-static {
      color: #fff;
    }
  }

  &.error, .error {
    color: $font-color-4;
    border-color: $font-color-4;
  }

  &.disabled, .disabled {
    cursor: not-allowed;
    color: rgba($bg-color-1, 0.2);
    border-color: rgba($bg-color-1, 0.2);
  }

  .error-msg {
    position: absolute;
    bottom: -20px;
    width: 100%;
    color: $font-color-4;
  }
}

.input-before, .input-after {
  position: relative;
  color: $bg-color-2;
  width: 35px;
  text-align: center;

  &.pass {
    color: green;
  }
}

.input-before {
  font-size: $h7;
}
.input-after {
  font-size: $h3;
}

.form-static {
  position: relative;
  width: 100%;
  flex: 1;
  padding: 0 10px;
  font-size: $h2;
  color: $bg-color-2;
  background-color: transparent;
}

.input-option {
  height: 100%;
  width: 50px;
  background-color: rgba($bg-color-2, 0.5);
  transition: all 200ms ease-in-out;

  select {
    transition: all 200ms ease-in-out;
    cursor: pointer;
    padding: 0 3px;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    appearance: none;
    border: none;
    background: transparent;
    outline: none;
    font-size: $h4;
    color: $bg-color-2;
  }
  .up, .down {
    position: absolute;
    top: 50%;
    right: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }
  .up {
    transform: translateY(calc(-50% - 5px));
  }
  .down {
    transform: translateY(calc(-50% + 5px));
  }
}

.input-option-static {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.input-select {
  cursor: pointer;
  
  select {
    position: relative;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    appearance: none;
    border: none;
    background: transparent;
    outline: none;
    font-size: $h2;
    color: $bg-color-2;
  }
  

  .up, .down {
    position: absolute;
    top: 50%;
    right: 5px;
    color: $bg-color-2;
    font-size: $h3;
    transition: all 200ms ease-in-out;
  }
  .up {
    transform: translateY(calc(-50% - 5px));
  }
  .down {
    transform: translateY(calc(-50% + 5px));
  }
}

/* Button modify */
.post-preview {
  margin-top: 20px;
  margin-bottom: 0;
  background-color: rgba($Neon-facial-portraits-5-hex, 0.5);
  border-color: $Neon-facial-portraits-5-hex;

  &:hover {
    background-color: $Neon-facial-portraits-5-hex;
    color: initial;
    box-shadow: 0 0 5px $Neon-facial-portraits-5-hex;
  }
}

/* Switch component */
.switch {
  cursor: pointer;
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  font-size: $h2;
  color: $bg-color-2;

  .on {
    transform: translateX(0);
  }
  
  .off {
    transform: translateX(100%);
  }
}

.switch-block {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: $bg-color-2;
  border-radius: 5px;
}

.switch-option {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Checkbox Component */

.checkbox {
  position: relative;
  display: inline-block;
  align-items: center;
  margin-bottom: 20px;
}

.check-option {
  display: inline-block;
  cursor: pointer;
  font-size: $h2;
  padding-right: 15px;
  color: $font-color-2;

  svg, span {
    margin: 0 3px;
  }

  &.checked {
    color: $bg-color-2;
  }
}