*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:disabled {
  cursor: not-allowed;
}


html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  background-color: $bg-color-light;
  // background-image: linear-gradient($font-color-3,$font-color-2,$font-color-3);
}

video::-webkit-media-controls,
video::-webkit-media-controls-panel,
video::-webkit-media-controls-start-playback-button,
video::-webkit-media-controls-overlay-play-button {
    display: none !important;
    appearance: none;
    opacity: 0;
}


a, 
a:-webkit-any-link, 
a:visited, 
a:link, 
a:hover, 
a:active,
a:focus {
  cursor: pointer;
  text-decoration: none;
}

button {
  appearance: none;
  outline: none;
  cursor: pointer;
}

.noselect {
  user-select: none;
}

.main-wrapper {
  position: relative;
  padding-top: $header;
  overflow: hidden;
  color: $font-color-dark;
  z-index: 1;
}

.main-wrapper-container {
  position: relative;
  padding: 10px;
}

.body-screen-wrapper {
  position: fixed;
  z-index: 999;
}

.body-screen {
  position: absolute;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: $transparent-1;
  transition: all 200ms ease-in-out;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.constrained {
  position: relative;
  width: 100%;
  max-width: $view-width;
  margin: 0 auto;
}

.constrained--small {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.constrained, .constrained--small {
  h3 {
    font-size: 1.3rem;
    font-weight: normal;
    color: #241241;
  }
}

.vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pointer {
  cursor: pointer;
}

.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}

.green-c {
  color: green;
}
.yellow-c {
  color: yellow;
}
.red-c {
  color: red;
}

